<div class="mt4 col-8 offset-2">
  <br/>
    <div class="card shadow-lg p-3 mb-5 bg-white rounded">
      <div class="card-header">Regístrate</div>
      <div class="card-body">
          <form #registroForm="ngForm" [formGroup]="formularioRegistro" (ngSubmit)="onSubmit(); formularioRegistro.reset()">
            <div class="alert alert-danger" [hidden]="!error">
              {{error}}
            </div>
            <div class="form-group row">
              <label for="inputDni3" class="col-sm-2 col-form-label">DNI</label>
              <div class="col-sm-10">
                <input type="text" name="dni" class="form-control" id="inputDni3" placeholder="DNI" formControlName="dni"  [(ngModel)]="form.dni" >
                <!-- <div class="alert alert-danger" [hidden]="!error">
                </div> -->
              </div>
            </div>

            <div class="form-group row">
              <label for="inputNombre3" class="col-sm-2 col-form-label">Nombre</label>
              <div class="col-sm-10">
                <input type="text" name="nombre" class="form-control" id="inputNombre3" placeholder="Nombre" formControlName="nombre" 
                [(ngModel)]="form.nombre" required>
                  <span *ngIf="formularioRegistro.controls['nombre'].errors?.maxlength">La longitud no puede ser mayor de 50 caracteres</span>
                  <span *ngIf="formularioRegistro.controls['nombre'].errors?.pattern">No se admiten caracteres numéricos</span>
                </div>
            </div>

            <div class="form-group row">
              <label for="inputApellidos3" class="col-sm-2 col-form-label">Apellidos</label>
              <div class="col-sm-10">
                <input type="text" name="apellidos" class="form-control" id="inputApellidos3" placeholder="Apellidos" formControlName="apellidos" [(ngModel)]="form.apellidos" required>
                <span *ngIf="formularioRegistro.controls['apellidos'].errors?.maxlength">La longitud no puede ser mayor de 50 caracteres</span>
                <span *ngIf="formularioRegistro.controls['apellidos'].errors?.pattern">No se admiten caracteres numéricos</span>
              </div>
            </div>

              <div class="form-group row">
                <label for="inputAlias3" class="col-sm-2 col-form-label">Alias</label>
                <div class="col-sm-10">
                  <input type="text" name="alias" class="form-control" id="inputAlias3" placeholder="Alias" formControlName="alias" [(ngModel)]="form.alias" required>
                  <span *ngIf="formularioRegistro.controls['alias'].errors?.maxlength">La longitud no puede ser mayor de 20 caracteres</span>
                  <span *ngIf="formularioRegistro.controls['alias'].errors?.pattern">No se admiten espacios</span>
                </div>
              </div>

              <div class="form-group row">
                  <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                  <div class="col-sm-10">
                    <input type="email" name="email" class="form-control" id="inputEmail3" placeholder="Email" formControlName="email" [(ngModel)]="form.email" required>
                    <span *ngIf="formularioRegistro.controls['email'].errors?.email">Formato de email no válido</span>
                  </div>
              </div>

              <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                  <input type="password" name="password" class="form-control" id="inputPassword3" placeholder="Password" formControlName="password" [(ngModel)]="form.password" required>
                  <span *ngIf="formularioRegistro.controls['password'].errors?.maxlength">Debes introducir un máximo de 20 caracteres</span>
                  <span *ngIf="formularioRegistro.controls['password'].errors?.minlength">Debes introducir un mínimo de 5 caracteres</span>
                </div>
              </div>

              <div class="form-group row">
                <label for="inputPasswordRep3" class="col-sm-2 col-form-label">Confirma Password</label>
                <div class="col-sm-10">
                  <input type="password" name="passwordRep" class="form-control" id="inputPasswordRep3" placeholder="Password" formControlName="passwordRep" [(ngModel)]="form.passwordRep" required>
                  <span *ngIf="formularioRegistro.hasError('mismatch')">Las contraseñas no coinciden</span>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-sm-10 offset-2">
                  <button type="submit" class="btn btn-primary" [disabled]="!registroForm.valid">Registrarse</button>
                </div>
              </div>
            </form>
      </div> 
    </div> 
  </div>
   
    
 