                <h3>DNI:</h3><br/>
                <h4>{{usuario.dni}}</h4><br/>
                <h3>Alias:</h3><br/>
                <h4>{{usuario.alias}}</h4><br/>
                <h3>Nombre:</h3><br/>
                <h4>{{usuario.nombre}}</h4><br/>
                <h3>Apellidos:</h3><br/>
                <h4>{{usuario.apellidos}}</h4><br/>
                <h3>Email:</h3><br/>
                <h4>{{usuario.email}}</h4><br/>
                <h3>Estado:</h3><br/>
                <h4>{{usuario.estado}}</h4><br/>
                <h3>Tipo:</h3><br/>
                <h4>{{usuario.tipo}}</h4><br/>
                <button type="button" class="btn btn-primary btn-lg" [routerLink]="['/gestionUsuarios']">Volver</button>