<div class="container">
    <div>
       <!--TITULO-->
       <div class="text-center">
         <br/>
        <h2>{{title}}</h2><br/>
        <br/>
      </div>
    <!--BOTON AÑADIR ESTABLECIMIENTOS Y BUSCADOR-->
    <div class="form-inline justify-content-between">
    <a class="btn btn-success" routerLink="/createEstablecimiento">Nuevo establecimiento</a><br/>
    <form class="form-inline my-2 my-lg-0 ">
      <input class="form-control mr-sm-2" type="search" name="filtro" placeholder="Nombre" aria-label="Search" [(ngModel)]="filtro.nombreEst">
      <button class="btn btn-info my-2 my-sm-0" type="submit">Buscar</button>
    </form>
  </div>
    <br/><br/>
        
<div *ngIf="establecimiento">
    <h3>Tabla establecimientos</h3>
          <table class="table">
            <thead class="bg-primary">
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Dirección</th>
                <th scope="col">CP</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let local of array | filterBy:filtro | paginate: {itemsPerPage: 7, currentPage: pageActual}">
                <tr *ngIf= "local.estado == 'activo'">
                  <td>{{local.nombreEst}}</td>
                  <td>{{local.direccion}}</td>
                  <td>{{local.cp}}</td>
                
                <td><a class="btn btn-warning btn-sm" [routerLink]="['/updateEstablecimiento', local.id]"><i class="material-icons">create</i></a></td>
                <td><a class="btn btn-danger btn-sm" (click)="deleteEstablecimiento(local.id, local.dni, local.nombreEst)"><i class="material-icons">delete</i></a></td>
                <td><a class="btn btn-info btn-sm" [routerLink]="['/fichaEstablecimiento', local.id]"><i class="material-icons md-dark">visibility</i></a></td>
                </tr>
              </ng-container>
            </tbody>
        </table>  
        <ng-container *ngIf="numEstActivos > 7">
          <pagination-controls (pageChange)="pageActual = $event"></pagination-controls> 
        </ng-container>
      </div>  
        <br><br>
    </div>
</div>

