<div class="container">
    <div *ngIf= "numPrestamos!=0">  
      <div class="alert alert-danger">
        Tienes libros pendientes de devolución
      </div> 
    </div>
    <br/>
        <form id="buscador" class="form-inline my-2 my-lg-0 ">
          <input class="form-control mr-sm-2" type="search" name="filterLibro" placeholder="Título, Autor" aria-label="Search" [(ngModel)]="filterLibro">
          <button class="btn btn-info my-2 my-sm-0" type="submit">Buscar</button>
        </form>
     
        <br/><br/>
            <!--TABLA LIBROS-->
            <ng-container *ngIf="numInac == 0">
              <div class="text-center">
                <br/>No hay libros disponibles
              </div>
            </ng-container>
    
    <div *ngIf= "numInac != 0">
        <h3>Libros disponibles</h3>
        <br/>
              <table class="table">
                <thead class="bg-primary">
                  <tr>
                    <th scope="col">Título</th>
                    <th scope="col">Autor</th>
                    <th scope="col">Ubicación</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngIf= "numInac == 0">No hay libros disponibles</ng-container>
                  <ng-container *ngFor="let ejemplar of libro | libro:filterLibro | paginate: {itemsPerPage:7, currentPage: pageActual}" >
                    <tr *ngIf= "ejemplar.estado == 'activo'">
                    <td>{{ejemplar.titulo}}</td>
                    <td>{{ejemplar.autor}}</td>
                    <td>{{ejemplar.establecimiento}}</td>
                    <td><a class="btn btn-info btn-sm" [routerLink]="['/vistaLibro', ejemplar.id]"><i class="material-icons">visibility</i></a></td>
                  </tr>
                  </ng-container>
                </tbody>
            </table>  
            <ng-container *ngIf="numInac > 7">
            <pagination-controls (pageChange)="pageActual = $event"></pagination-controls> 
          </ng-container>
          </div>  
            <br><br><br/>
            <div class="form-inline justify-content-between">
              <div>
              <button id="boton" type="button" class="btn btn-warning btn-lg btn-outline-dark" routerLink="/serColaborador">Quiero ser establecimiento colaborador</button>
            </div>
            <div>
              <form id="buscador" class="form-inline my-2 my-lg-0 ">
                <input class="form-control mr-sm-2" type="search" name="filterEstablecimiento" placeholder="Código Postal" aria-label="Search" [(ngModel)]="filtro.cp">
                <button class="btn btn-info my-2 my-sm-0" type="submit">Buscar</button>
              </form>
            </div>
            </div>  
              <br/><br/>
             <!--TABLA ESTABLECIMIENTOS-->
    
      <div *ngIf="estInac == 0">No hay establecimientos disponibles</div>
        <div *ngIf= "estInac != 0">
            <h3>Establecimientos Colaboradores</h3><br/>
                  <table class="table">
                    <thead class="bg-primary">
                      <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Dirección</th>
                        <th scope="col">Código Postal</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngFor="let local of establecimientoAct | filterBy: filtro | paginate: {itemsPerPage: 7, currentPage: pageActual}" >
                        <tr *ngIf= "local.estado == 'activo'">
                        <td>{{local.nombreEst}}</td>
                        <td>{{local.direccion}}</td>
                        <td>{{local.cp}}</td>
                        <td><a class="btn btn-info btn-sm" [routerLink]="['/vistaEstablecimiento', local.id]"><i class="material-icons">visibility</i></a></td>
                      </tr>
                      </ng-container>
                      
                    </tbody>
                </table>  
                <ng-container *ngIf="estInac > 7">
                <pagination-controls (pageChange)="pageActual = $event"></pagination-controls> 
              </ng-container>
              </div>  
                <br><br>
        
    <!--FIN TABLA ESTABLECIMIENTOS-->
  </div>  
