<div class="container">
    <div *ngIf= "numPrestamos!=0">  
      <div class="alert alert-danger">
        Tienes libros pendientes de devolución
      </div> 
    </div>

        <form class="form-inline my-2 my-lg-0 ">
          <input class="form-control mr-sm-2" type="search" name="filterLibro" placeholder="Título, Autor" aria-label="Search" [(ngModel)]="filterLibro">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        </form>
     
        <br/>
            <!--TABLA LIBROS-->
    <div *ngIf="numInac == 0">No hay libros disponibles</div>
    <div *ngIf= "numInac != 0">
        <h3>Libros disponibles</h3>
              <table class="table table-striped table-dark">
                <thead>
                  <tr>
                    <th scope="col">Título</th>
                    <th scope="col">Autor</th>
                    <th scope="col">Ubicación</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngIf= "numInac == 0">No hay libros disponibles</ng-container>
                  <tr *ngFor="let ejemplar of libro | paginate: {itemsPerPage:7, currentPage: pageActual} | libro:filterLibro" >
                    <ng-container *ngIf= "ejemplar.estado == 'activo'">
                    <td>{{ejemplar.titulo}}</td>
                    <td>{{ejemplar.autor}}</td>
                    <td>{{ejemplar.establecimiento}}</td>
                    <td><a class="btn btn-info btn-sm" [routerLink]="['/vistaLibro', ejemplar.id]"><i class="material-icons">visibility</i></a></td>
                  </ng-container>
                  </tr>
                </tbody>
            </table>  
            <pagination-controls (pageChange)="pageActual = $event"></pagination-controls> 

          </div>  
            <br><br>

            <form class="form-inline my-2 my-lg-0 ">
                <input class="form-control mr-sm-2" type="search" name="filterEstablecimiento" placeholder="Código Postal" aria-label="Search" [(ngModel)]="filtro.cp">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                <button type="button" class="btn btn-warning" routerLink="/serColaborador">Quiero ser establecimiento colaborador</button>
              </form>
              
              <br/>
             <!--TABLA ESTABLECIMIENTOS-->
    
      <div *ngIf="estInac == 0">No hay establecimientos disponibles</div>
        <div *ngIf= "estInac != 0">
            <h3>Establecimientos Colaboradores</h3>
                  <table class="table table-striped table-dark">
                    <thead>
                      <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Dirección</th>
                        <th scope="col">Código Postal</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let local of establecimiento | paginate: {itemsPerPage: 7, currentPage: pageActual} | filterBy: filtro" >
                        <ng-container *ngIf= "local.estado == 'activo'">
                        <td>{{local.nombreEst}}</td>
                        <td>{{local.direccion}}</td>
                        <td>{{local.cp}}</td>
                        <td><a class="btn btn-info btn-sm" [routerLink]="['/vistaEstablecimiento', local.id]"><i class="material-icons">visibility</i></a></td>
                      </ng-container>
                      </tr>
                    </tbody>
                </table>  
                <pagination-controls (pageChange)="pageActual = $event"></pagination-controls> 
              </div>  
                <br><br>
        
    <!--FIN TABLA ESTABLECIMIENTOS-->
  </div>  
