<div class="container" *ngIf="libro">
        <!--TITULO-->
        <div class="text-center">
        <h2>{{title}}</h2><br/>
    </div>
        <!--MENSAJE-->
        <div class="success" *ngIf="status == 'success'">
            El libro se ha actualizado correctamente.
        </div>
        <div class="failed" *ngIf="status == 'failed'">
            El libro no se ha actualizado.
        </div>
    
        <!--INICIO DEL FORMULARIO-->
        <form #libroForm="ngForm" [formGroup]="formularioLibro" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                <label for="isbn">ISBN</label>
                <input type="text" name="isbn" class="form-control" formControlName="isbn" [(ngModel)]="this.libro.isbn">
                <span *ngIf="formularioLibro.get('isbn').errors?.pattern">Formato incorrecto</span>
            </div>    
            <div class="form-group col-md-6">
                    <label for="categoria">CATEGORIA</label>
                    <select class="custom-select mr-sm-2" name="categoria" formControlName="categoria" [(ngModel)]="this.libro.categoria">
                        <option [value]="this.libro.categoria" selected>{{this.libro.categoria}}</option>    
                        <option *ngFor = "let categoria of categoriaList" [value]="this.categoria" >{{categoria}}</option>
                        </select>
                    </div>
                </div>
            
                <div class="form-group">
                    <label for="titulo">TITULO</label>
                <input type="text" name="titulo" class="form-control" formControlName="titulo" [(ngModel)]="this.libro.titulo">
                <span *ngIf="formularioLibro.get('titulo').errors && formularioLibro.get('titulo').dirty">Formato incorrecto</span>
            </div>
    
            <div class="form-group">
                <label for="autor">AUTOR</label>
                <input type="text" name="autor" class="form-control" formControlName="autor" [(ngModel)]="this.libro.autor">
                <span *ngIf="formularioLibro.get('autor').errors && formularioLibro.get('autor').dirty">Formato incorrecto</span>
            </div>
            
            <div class="form-group">
                <label for="sinopsis">SINOPSIS</label>
                <textarea class="form-control" name="sinopsis" formControlName="sinopsis" [(ngModel)]="this.libro.sinopsis">this.descripcion</textarea>
                <span *ngIf="formularioLibro.get('sinopsis').errors && formularioLibro.get('sinopsis').dirty">Formato incorrecto</span>
            </div>

            <div class="form-row">
                    <label for="establecimiento">ESTABLECIMIENTO INICIAL</label>
                    <select class="custom-select mr-sm-2" name="establecimiento" formControlName="establecimiento" [(ngModel)]="this.libro.establecimiento">
                        <option *ngFor = "let local of establecimiento" [value]="local.nombreEst">
                            <ng-container *ngIf="local.estado == 'activo'">
                            {{local.nombreEst}}
                        </ng-container>
                        </option>
                    </select>   
            </div>
        </div>
    
        <div class="col-md-4 col-sm-6 col-xs-12">
            <br/> <br/> <br/>
            <div class="form-group">
            <div class="text-center">
                <label for="portada"></label>
                <span>
                    <img src="{{'http://127.0.0.1:8000/descargas/'+libro.portada}}" >
                    <h6>Sube la portada del libro</h6>
                    <br/>
                </span>
                <input type="file" id="portada" name="portada" placeholder="Subir imagen" (change)="fileChangeEvent($event)">
            </div>
        </div>
        </div>
            </div>
        <br/><br/>
        <div class="form-group">
            <div class="text-center">
            <input type="submit" class="btn btn-primary btn-lg" value="Actualizar" [disabled]="formularioLibro.invalid">
            <button type="button" class="btn btn-secondary btn-lg" [routerLink]="['/gestionLibros']">Volver</button>
        </div>
    </div>
        </form>
        <!--FIN DEL FORMULARIO-->
    </div>
    
    