<div class="container">
        <div>
           <!--TITULO-->
           <br>
           <div class="text-center">
            <h2>{{title}}</h2><br/>
          </div>
        <!--BOTON AÑADIR LIBROS Y BUSCADOR-->
        <div class="form-inline justify-content-between">
        <a class="btn btn-success" routerLink="/createLibro">Nuevo libro</a><br/>
        <form class="form-inline my-2 my-lg-0 ">
          <input class="form-control mr-sm-2" type="search" name="filterLibro" placeholder="Título, autor" aria-label="Search" [(ngModel)]="filterLibro">
          <button class="btn  btn-info my-2 my-sm-0" type="submit">Buscar</button>
        </form>
      </div>
        <br/>
            <!--TABLA LIBROS-->
    <div *ngIf="libro">
        <h3>Tabla libros</h3>
              <table class="table ">
                <thead class="bg-primary">
                  <tr>
                    <th scope="col" >Título</th>
                    <th scope="col">Autor</th>
                    <th scope="col">Establecimiento</th>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let ejemplar of libro | libro:filterLibro | paginate: {itemsPerPage: 3, currentPage: pageActual}">
                    <td>{{ejemplar.titulo}}</td>
                    <td>{{ejemplar.autor}}</td>
                    <td>{{ejemplar.establecimiento}}</td>
                    <td><a class="btn btn-warning btn-sm" [routerLink]="['/updateLibro', ejemplar.id]"><i class="material-icons">create</i></a></td>
                    <td><a class="btn btn-danger btn-sm" (click)="deleteLibro(ejemplar.id)"><i class="material-icons">delete</i></a></td>
                    <td><a class="btn btn-info btn-sm" [routerLink]="['/fichaLibro', ejemplar.id]"><i class="material-icons">visibility</i></a></td>
                  </tr>
                </tbody>
            </table>  
            <pagination-controls class="paginador" (pageChange)="pageActual = $event"></pagination-controls> 
          </div>  
            <br><br>
        </div>
    </div>
    <!--FIN TABLA LIBROS-->
    