th{
    color: whitesmoke;
}

h2, h3{
    color: dodgerblue;
}

h4, h5{
    text-align: center;
}

.paginador{
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.container{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

pagination-controls{
    display: flex;
    justify-content: center;
}