
<ng-container *ngIf="tipoUsu != 'admin' && tipoUsu != 'responsable'">

  <div class="container">
      <br><br><br><br>
      <div class="card shadow-lg p-3 mb-5 bg-white rounded">
          <div class="card-body">
              <h4>No tienes permiso para acceder a esta zona</h4>
              <h5> Por favor, idetifícate con un usuario válido</h5>
              
    <div class="container">
          <div class="form-group">
            <div class="text-center">
                <button type="button" class="btn btn-primary btn-lg" (click)="redireccion()">Aceptar</button>&nbsp;  
          </div>
        </div>
            </div> 
            </div> 
          </div>     
          <br><br><br><br>
    </div>
    
</ng-container>
<ng-container *ngIf="tipoUsu == 'admin' || tipoUsu == 'responsable'">
<div class="mt4 col-8 offset-2">
    <br/>
      <div class="card shadow-lg p-3 mb-5 bg-white rounded">
        <div class="card-header">Préstamo</div>
        <div class="card-body">
  <div class="container" *ngIf="prestamo">
    <div class="text-center">
        <h3>{{prestamo.titulo}}</h3>
        <br/><br/>
    </div>
        <table>
          <tr>
            <td style="font-weight:bold">DNI:</td>
            <td>{{prestamo.dni}}</td>
          </tr>
          <tr>
            <td style="font-weight:bold">Código:</td>
            <td>{{prestamo.idL}}</td>
          </tr>
          <!-- <tr>
            <td style="font-weight:bold">Fecha devolución:</td>
            <td>{{prestamo.fecha}}</td>
          </tr> -->
        </table>
        <br/>
  
        <form #devolucionForm="ngForm" [formGroup]="formularioDevolucion" (ngSubmit)="onSubmit(); formularioDevolucion.reset()">
            <div class="md-form">
                    <label for="incidencia">¿Se ha producido alguna incidencia? Comunícalo aquí:</label>
                    <textarea rows="5" class="md-textarea form-control" name="incidencia" formControlName="incidencia" [(ngModel)]="prestamo.incidencia"></textarea> 
                    <span *ngIf="formularioDevolucion.controls['incidencia'].errors?.maxlength">Máximo 500 caracteres</span>
                </div>
        
            <br/>
        
        
        <div class="form-group">
            <div class="text-center">
                <br/>
                <button type="button" class="btn-primary btn-lg" [routerLink]="['/devolucionPrestamo']">Volver</button>&nbsp;  
                <input type="submit" class="btn-warning btn-lg" value="Realizar devolución" [disabled]="formularioDevolucion.invalid">
            </div>
        </div>
        </form>
          </div> 
          </div> 
        </div>
      </div>
    </ng-container>