.card-header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    background-color: #2E9AFE;
    color: whitesmoke;
}

.card-body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h4, h5{
    text-align: center;
}

span{
    color: firebrick;
    font-family: cursive;
}