<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home" *ngIf="loggedIn">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/gestionLibros" *ngIf="loggedIn && tipo=='admin'">Gestión Libros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/gestionSolicitudes" *ngIf="loggedIn && tipo=='admin'">Gestión Solicitudes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/gestionUsuarios" *ngIf="loggedIn && tipo=='admin'">Gestión Usuarios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/gestionEstablecimientos" *ngIf="loggedIn && (tipo=='responsable' || tipo=='admin')">Gestión de mis Establecimientos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/gestionPrestamos" *ngIf="loggedIn && (tipo=='responsable' || tipo=='admin')">Gestión de Prestamos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/devolucionPrestamo" *ngIf="loggedIn && (tipo=='responsable' || tipo=='admin')">Devolucion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/perfil', idUsu]" *ngIf="loggedIn">Mi perfil</a>
      </li>
    </ul>
  </div>
  <ul class="navbar-nav">
  <li class="nav-item">
    <a class="nav-link  mr-sm-2" routerLink="/registro" *ngIf="!loggedIn">Regístrate</a>
  </li>
  <li class="nav-item">
    <a class="nav-link  mr-sm-2" routerLink="/login" *ngIf="!loggedIn!loggedIn">Iniciar Sesión</a>
  </li>
  <li class="nav-item">
    <a class="nav-link  mr-sm-2" href="#" (click)="logout($event)" *ngIf="loggedIn">Cerrar Sesión</a>
  </li>
</ul>
</nav>