<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img src="{{'http://127.0.0.1:8000/descargas/bookcrossing.jpg'}}" width="auto" height="40"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home" *ngIf="loggedIn">Catálogo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/gestionLibros" *ngIf="loggedIn && tipo=='admin'">Gestión Libros</a>
      </li>
      
      <li class="nav-item dropdown" *ngIf="loggedIn && (tipo=='responsable' || tipo=='admin')">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Establecimientos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li class="nav-item">
          <a class="dropdown-item" routerLink="/gestionSolicitudes" *ngIf="loggedIn && tipo=='admin'">Gestión Solicitudes</a>
        </li>
      <li class="nav-item">
        <a class="dropdown-item" routerLink="/gestionEstablecimientos" *ngIf="loggedIn && tipo=='admin'">Gestión de Establecimientos</a>
      </li>

      <li class="nav-item">
        <a class="dropdown-item" [routerLink]="['/fichaEstablecimiento', idEst]" *ngIf="loggedIn && (tipo=='responsable' || tipo=='admin')">Gestión de mi Establecimiento</a>
      </li>

    </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/gestionUsuarios" *ngIf="loggedIn && tipo=='admin'">Gestión Usuarios</a>
      </li>

      <li class="nav-item dropdown" *ngIf="loggedIn && (tipo=='responsable' || tipo=='admin')">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Prestamos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="nav-link" routerLink="/gestionPrestamos" *ngIf="loggedIn && (tipo=='responsable' || tipo=='admin')">Gestión de Prestamos</a>
      
      
        <a class="nav-link" routerLink="/devolucionPrestamo" *ngIf="loggedIn && (tipo=='responsable' || tipo=='admin')">Devolucion</a>
     
        <a class="nav-link" routerLink="/incidencia" *ngIf="loggedIn && (tipo=='admin')">Incidencias y Retrasos</a>
      </div>
      </li>
    
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/perfil', idUsu]" *ngIf="loggedIn">Mi perfil</a>
      </li>
    </ul>
  </div>
  <ul class="navbar-nav">
  <li class="nav-item">
    <a class="nav-link  mr-sm-2" routerLink="/registro" *ngIf="!loggedIn">Regístrate</a>
  </li>
  <li class="nav-item">
    <a class="nav-link  mr-sm-2" routerLink="/login" *ngIf="!loggedIn!loggedIn"><span class="glyphicon glyphicon-log-in"></span>Iniciar Sesión</a>
  </li>
  <li class="nav-item">
    <a class="nav-link  mr-sm-2" *ngIf="loggedIn">Hola {{alias}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link  mr-sm-2" href="#" (click)="logout($event)" *ngIf="loggedIn">Cerrar Sesión</a>
  </li>
</ul>
</nav>