<br/>
<div class="row" *ngIf="usuario">
  
        <div class="col-3">
          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Mis datos</a>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Mi historial</a>
            <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Darse de baja</a>
          </div>
        </div>
        <div class="col-9">
          <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" *ngIf="usuario">
                
              <section id="tabs" class="project-tab">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <nav>
                                <div class="nav nav-tabs nav-fill" id="nav-tab1" role="tablist">
                                    <a class="nav-item nav-link active" id="nav-home-tab1" data-toggle="tab" href="#nav-home1" role="tab" aria-controls="nav-home" aria-selected="true">Ficha</a>
                                    <a class="nav-item nav-link" id="nav-profile-tab1" data-toggle="tab" href="#nav-profile1" role="tab" aria-controls="nav-profile" aria-selected="false">Actualizar datos</a>
                                </div>
                            </nav>
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="nav-home1" role="tabpanel" aria-labelledby="nav-home-tab">
                                  <br/>
                                  <div >
                                    <table class="datos">
                                      <tr>
                                        <td style="font-weight:bold">DNI:&nbsp;</td>
                                        <td>{{usuario.dni}}</td>
                                      </tr>
                                    </table>
                                    <br/>
                                    <table class="datos">
                                      <tr>
                                        <td style="font-weight:bold">Alias:&nbsp;</td>
                                        <td>{{usuario.alias}}</td>
                                      </tr>
                                    </table>
                                    <br/>
                                    <table class="datos">
                                      <tr>
                                        <td style="font-weight:bold">Nombre:&nbsp;</td>
                                        <td>{{usuario.nombre}}</td>
                                      </tr>
                                    </table>
                                    <br/>
                                    <table class="datos">
                                      <tr>
                                        <td style="font-weight:bold">Apellidos:&nbsp;</td>
                                        <td>{{usuario.apellidos}}</td>
                                      </tr>
                                    </table>
                                    <br/>
                                    <table class="datos">
                                      <tr>
                                        <td style="font-weight:bold">Email:&nbsp;</td>
                                        <td>{{usuario.email}}</td>
                                      </tr>
                                    </table>
                                    <br/>
                                  </div>
                                  
                                </div>
                                <div class="tab-pane fade" id="nav-profile1" role="tabpanel" aria-labelledby="nav-profile-tab">
                                  <br/>
                
                                  <form #registroForm="ngForm" [formGroup]="formularioUsuario" (ngSubmit)="onSubmit()"> 
                                  
                                    <h3>Actualiza tus datos</h3>
                                    
                                    <div class="form-group">
                                      <label id="perfil" for="alias">Alias</label>
                                      <input type="text" name="alias" class="form-control" formControlName="alias" [(ngModel)]="this.usuario.alias">
                                      <span *ngIf="formularioUsuario.controls['alias'].errors?.maxlength">La longitud no puede ser mayor de 20 caracteres</span>
                                    </div>
                  
                                    <div id="perfil" class="form-group">
                                      <label for="email">Email</label>
                                      <input type="email" name="email" class="form-control" formControlName="email" [(ngModel)]="this.usuario.email">
                                      <span *ngIf="formularioUsuario.controls['email'].errors?.email">Formato de email no válido</span>
                                    </div>
                                    <div class="text-center">
                                    <input type="submit" class="btn-warning btn-lg" value="Actualizar" [disabled]="formularioUsuario.invalid">
                                    </div>
                                  </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
              
              </div>

            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
              <section id="tabs" class="project-tab">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <nav>
                                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Préstamos activos</a>
                                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Historial de préstamos</a>
                                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Solicitudes</a>
                                  </div>
                            </nav>
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                  <br>
                                  <div *ngIf= "numPrestamos == 0">No has sacado ningún libro</div>
                                  <div *ngIf= "numPrestamos != 0">
                                  <table class="table" cellspacing="0">
                                        <thead style="background-color: dodgerblue;">
                                            <tr style="color: whitesmoke;">
                                                <th>Título</th>
                                                <th>Establecimiento</th>
                                                <th>Fecha devolución</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <ng-container *ngFor="let libro of prestamos">
                                              <tr *ngIf= "libro.tipo == 'prestamo' && libro.idUsu == idUsu">  
                                                
                                              <td>{{libro.titulo}}</td>
                                              <td>{{libro.nombreEst}}</td>
                                              <td>{{libro.fecha}}</td>
                                              <ng-container *ngIf= "libro.fecha &lt; fechaHoy">
                                                <td>Retrasado</td>
                                              </ng-container>
                                            </tr>
                                            </ng-container>
                                           
                                        </tbody>
                                    </table>
                                  </div>
                                   
                                </div>
                                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                  <br/>
                                    <table class="table" cellspacing="0">
                                        <thead style="background-color: dodgerblue;">
                                            <tr style="color: whitesmoke;">
                                                <th>Título</th>
                                                <th>Tipo</th>
                                                <th>Establecimiento</th>
                                                <th>Fecha</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let historial of historialUsu | paginate: {itemsPerPage: 4, currentPage: pageActual}">
                                                <ng-container *ngIf= "historial.idUsu == idUsu"> 
                                                <td>{{historial.titulo}}</td>
                                                <td>{{historial.tipo}}</td>
                                                <td>{{historial.nombreEst}}</td>
                                                <td>{{historial.fecha}}</td>
                                              </ng-container>
                                              </tr>
                                        </tbody>
                                    </table>
                                    <ng-container *ngIf="numHistoriales>4">
                                    <pagination-controls (pageChange)="pageActual = $event"></pagination-controls> 
                                  </ng-container>
                                </div>
                                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                                  <br/>
                                  <div *ngIf= "numSolicitudes == 0">No solicitado ningún libro</div>
                                  <div *ngIf= "numSolicitudes != 0"> 
                                  <table class="table" cellspacing="0">
                                    <thead style="background-color: dodgerblue;">
                                      <tr style="color: whitesmoke;">
                                          <th>Título</th>
                                          <th>Establecimiento</th>
                                          <th>Fecha</th>
                                          <th></th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr *ngFor="let solicitud of solicitudUsu">
                                          <ng-container *ngIf= "solicitud.idUsu == idUsu"> 
                                          <td>{{solicitud.titulo}}</td>
                                          <td>{{solicitud.nombreEst}}</td>
                                          <td>{{solicitud.fecha}}</td>
                                          <td><button type="button" class="btn btn-danger" (click)="cancelarSolicitud(solicitud.id, solicitud.idL)">Cancelar</button></td>
                                        </ng-container>
                                        </tr>
                                  </tbody>
                                  </table>
                              </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            </div>


            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
              <br/>
              <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                <div class="card-header">¿Deseas darte de baja de la aplicación?</div>
                <div class="card-body">
             
              <div class="text-center">
                <input type="submit"  class="btn-warning btn-lg" value="Sí" (click)="eliminarUsuario(usuario.id)"> &nbsp;  
                <input type="submit"  class="btn-danger btn-lg" value="No" (click)="volver(usuario.id)"> &nbsp;  
              </div>
                
              </div> 
            </div>
              </div>
           
          </div>
        </div>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
      