<div class="container">
    <div>
    <!--BOTON AÑADIR ESTABLECIMIENTOS Y BUSCADOR-->
    
    <br/>
    <div *ngIf= "numInac == 0">No hay solicitudes pendientes</div>
<div *ngIf= "numInac != 0">
    <h3>Establecimientos pendientes de confirmación</h3>
          <table class="table table-striped table-dark">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Dirección</th>
                <th scope="col">CP</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let local of establecimiento  | paginate: {itemsPerPage: 7, currentPage: pageActual} | establecimiento:filterEstablecimiento">
                <ng-container *ngIf= "local.estado == 'inactivo'">
                <td>{{local.nombreEst}}</td>
                <td>{{local.direccion}}</td>
                <td>{{local.cp}}</td>
                <td><a class="btn btn-success btn-sm" (click)="confirmEstablecimiento(local.id, local.estado)"><i class="material-icons">done_outline</i></a></td>
                <td><a class="btn btn-danger btn-sm" (click)="deleteEstablecimiento(local.id)"><i class="material-icons">delete</i></a></td>
                <td><a class="btn btn-info btn-sm" [routerLink]="['/fichaEstablecimiento', local.id]"><i class="material-icons">visibility</i></a></td>
                </ng-container>
              </tr>
            </tbody>
        </table>  
        <pagination-controls (pageChange)="pageActual = $event"></pagination-controls> 
      </div>  
        <br><br>
    </div>
</div>


