<div class="container">
    <div>
    <!--BOTON AÑADIR ESTABLECIMIENTOS Y BUSCADOR-->
    
    <br/>
    <div *ngIf= "numInac == 0">No hay solicitudes pendientes</div>
<div *ngIf= "numInac != 0">
    <h3>Establecimientos pendientes de confirmación</h3><br/>
          <table class="table">
            <thead class="bg-primary">
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Dirección</th>
                <th scope="col">CP</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let local of establecimiento | establecimiento:filterEstablecimiento | paginate: {itemsPerPage: 7, currentPage: pageActual}">
                <tr *ngIf= "local.estado == 'inactivo'">
                <td>{{local.nombreEst}}</td>
                <td>{{local.direccion}}</td>
                <td>{{local.cp}}</td>
                <td><a class="btn btn-success btn-sm" (click)="confirmEstablecimiento(local.id, local.estado, local.dni, local.email)"><i class="material-icons md-light">done_outline</i></a></td>
                <td><a class="btn btn-danger btn-sm" (click)="deleteEstablecimiento(local.id, local.email)"><i class="material-icons md-light">delete</i></a></td>
                <td><a class="btn btn-info btn-sm" [routerLink]="['/fichaEstablecimiento', local.id]"><i class="material-icons">visibility</i></a></td>
                </tr>
              </ng-container>
            </tbody>
        </table>  
        <ng-container *ngIf="numInac>7">
        <pagination-controls (pageChange)="pageActual = $event"></pagination-controls> 
      </ng-container>
      </div>  
        <br><br>
    </div>
</div>


