
<ng-container *ngIf="tipoUsu != 'admin'">

    <div class="container">
        <br><br><br><br>
        <div class="card shadow-lg p-3 mb-5 bg-white rounded">
            <div class="card-body">
                <h4 style="text-align: center;">No tienes permiso para acceder a esta zona</h4>
                <h5 style="text-align: center;"> Por favor, idetifícate con un usuario válido</h5>
                
      <div class="container">
            <div class="form-group">
              <div class="text-center">
                  <button type="button" class="btn btn-primary btn-lg" (click)="redireccion()">Aceptar</button>&nbsp;  
            </div>
          </div>
              </div> 
              </div> 
            </div>     
            <br><br><br><br>
      </div>
      
</ng-container>
<ng-container *ngIf="tipoUsu == 'admin'">
<div class="mt4 col-8 offset-2">
    <br/>
      <div class="card shadow-lg p-3 mb-5 bg-white rounded">
        <div class="card-header">Ficha de incidencia</div>
        <div class="card-body">
<div class="container"  *ngIf="incidencia || usuario">

    <div class="text-center">
        <h2>{{incidencia.titulo}}</h2>
        <br/>
    </div>
    
    <div class="form-group">
        <h5><strong>Nombre: </strong>{{usuario.nombre}}</h5>
    </div>
        <div class="form-group">
            <h5><strong>DNI: </strong>{{incidencia.dni}}</h5>
        </div>
        <div class="form-group">
            <h5><strong>Email: </strong>{{usuario.email}}</h5>
        </div>
        <div class="form-group">
            <h5><strong>Estado Usuario: </strong>{{usuario.estado}}</h5>
        </div>
        <div class="form-group">
            <h5><strong>Establecimiento: </strong>{{incidencia.nombreEst}}</h5>
        </div>
        

    <div class="col-md-8 col-sm-6 col-xs-12">
        <br/>
        <h5 style="color: orangered;"><strong>Incidencia: </strong></h5>
        <p>{{incidencia.incidencia}}</p>
        <br/>
    </div>
</div>

<div class="form-group">
    <div class="text-center">
        <button type="button" class="btn-primary btn-lg" [routerLink]="['/incidencia']">Volver</button>&nbsp;  
        <button type="button" class="btn-warning btn-lg" (click)="resolver(incidencia.id)">Incidencia Resuelta</button>&nbsp;
        <button type="button" class="btn-danger btn-lg" (click)="bloquear(usuario.id)">Bloquear Usuario</button>
    </div>
</div>
</div> 
</div> 
</div>
</ng-container>