@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

/* Styling h1 and links
––––––––––––––––––––––––––––––––– */
h1[alt="Simple"] {color: white;}
a[href], a[href]:hover {color: grey; font-size: 0.5em; text-decoration: none}


body
{
  background: #4a4a4c !important;
}

.starrating > input {display: none;}  /* Remove radio buttons */

.starrating > label:before { 
  content: "\f005"; /* Star */
  margin: 2px;
  /* font-size: 8em; */
  font-size: 6em;
  font-family: FontAwesome;
  display: inline-block; 
}

.starrating > label
{
  color: #222222; /* Start color when not clicked */
}

.starrating > input:checked ~ label
{ color: #ffca08 ; } /* Set yellow color when star checked */

.starrating > input:hover ~ label
{ color: #ffca08 ;  } /* Set yellow color when star hover */

.container{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2{
  color: dodgerblue;
  
}

.comentar{
  display: flex;
  align-items: center;
  justify-content: center;
}

.enviar{
  /* display: flex;
  align-items: right;
  justify-content: flex-end; */
  /* position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0); */
}

span{
  color: firebrick;
}
.container{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}