
<ng-container *ngIf="tipoUsu != 'admin'">

  <div class="container">
      <br><br><br><br>
      <div class="card shadow-lg p-3 mb-5 bg-white rounded">
          <div class="card-body">
              <h4>No tienes permiso para acceder a esta zona</h4>
              <h5> Por favor, idetifícate con un usuario válido</h5>
              
    <div class="container">
          <div class="form-group">
            <div class="text-center">
                <button type="button" class="btn btn-primary btn-lg" (click)="redireccion()">Aceptar</button>&nbsp;  
          </div>
        </div>
            </div> 
            </div> 
          </div>     
          <br><br><br><br>
    </div>
    
</ng-container>
<ng-container *ngIf="tipoUsu == 'admin'">
<div class="container">
    <div>
       <!--TITULO-->
       <div class="text-center">
         <br/>
        <h2>{{title}}</h2><br/>
      </div>
    <!--BOTON AÑADIR ESTABLECIMIENTOS Y BUSCADOR-->
    
    <form id="buscador" class="form-inline my-2 my-lg-0 ">
      <input class="form-control mr-sm-2" type="search" name="filterUsuario" placeholder="Email" aria-label="Search" [(ngModel)]="filtro.email">
      <button class="btn btn-info my-2 my-sm-0" type="submit">Buscar</button>
    </form>
 
    <br/>
        
<div *ngIf="usuario">
    <h3>Tabla usuarios</h3>
          <table class="table">
            <thead class="bg-primary">
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Email</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let usu of usuario | paginate: {itemsPerPage: 7, currentPage: pageActual} | filterBy: filtro">
                <td>{{usu.nombre}}</td>
                <td>{{usu.apellidos}}</td>
                <td>{{usu.email}}</td>
                <td><a class="btn btn-warning btn-sm" (click)="bloquear(usu.id)"><i class="material-icons md-light">pan_tool</i></a></td>
                <td><a class="btn btn-danger btn-sm" (click)="deleteUsuario(usu.id, usu.dni, usu.nombre)"><i class="material-icons">delete</i></a></td>
                <td><a class="btn btn-info btn-sm" [routerLink]="['/fichaUsuario', usu.id]"><i class="material-icons">visibility</i></a></td>
              
              </tr>
            </tbody>
        </table>  
        <ng-container *ngIf="usuarios > 7">
          <pagination-controls (pageChange)="pageActual = $event"></pagination-controls> 
        </ng-container>

      </div>  
        <br><br>
    </div>
</div>

</ng-container>