<div class="container">
    <form class="form-inline my-2 my-lg-0 ">
        <input class="form-control mr-sm-2" type="search" name="filtro" placeholder="DNI" aria-label="Search" [(ngModel)]="filtro.dni">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
      </form>
    <div>
    <br/>
    <div *ngIf= "numIncidencias == 0">No hay incidencias pendientes</div>
  <div *ngIf= "numIncidencias != 0">
    <h3>Incidencias </h3>
          <table class="table table-striped table-dark">
            <thead>
              <tr>
                <th scope="col">DNI</th>
                <th scope="col">Título</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let incidencia of array | filterBy: filtro | paginate: {itemsPerPage: 7, currentPage: pageActual} ">
               <tr *ngIf= "incidencia.tipo == 'devolucion' && incidencia.incidenciaActiva == 'si'">
                 
                    <td>{{incidencia.dni}}</td>
                    <td>{{incidencia.titulo}}</td>
                    <td><a class="btn btn-danger btn-sm" [routerLink]="['/incidencia/'+incidencia.id]">VER</a></td>
                  </tr>
                
              </ng-container>
            
            </tbody>
        </table>  
        <pagination-controls (pageChange)="pageActual = $event"></pagination-controls> 
      </div>  
        <br><br>
    </div>

    <form class="form-inline my-2 my-lg-0 ">
      <input class="form-control mr-sm-2" type="search" name="filtroRet" placeholder="DNI" aria-label="Search" [(ngModel)]="filtroRet.dni">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    </form>
  <div>
  <br/>
  <div *ngIf= "numRetrasos == 0">No hay Retrasos</div>
<div *ngIf= "numRetrasos != 0">
  <h3>Incidencias </h3>
        <table class="table table-striped table-dark">
          <thead>
            <tr>
              <th scope="col">DNI</th>
              <th scope="col">Título</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let retraso of retrasoEntrega | filterBy: filtroRet | paginate: {itemsPerPage: 7, currentPage: pageActual}">
              <tr *ngIf= "retraso.tipo == 'prestamo' && retraso.fecha < fechaHoy">
              <td>{{retraso.dni}}</td>
              <td>{{retraso.titulo}}</td>
              <td><a class="btn btn-danger btn-sm" [routerLink]="['/incidencia/'+retraso.id]">VER</a></td>
              </tr>
            </ng-container>
          </tbody>
      </table>  
      <pagination-controls (pageChange)="pageActual = $event"></pagination-controls> 
    </div>  
      <br><br>
  </div>
</div>
  
  
  