
<ng-container *ngIf="tipoUsu != 'admin' && tipoUsu != 'responsable'">

  <div class="container">
      <br><br><br><br>
      <div class="card shadow-lg p-3 mb-5 bg-white rounded">
          <div class="card-body">
              <h4>No tienes permiso para acceder a esta zona</h4>
              <h5> Por favor, idetifícate con un usuario válido</h5>
              
    <div class="container">
          <div class="form-group">
            <div class="text-center">
                <button type="button" class="btn btn-primary btn-lg" (click)="redireccion()">Aceptar</button>&nbsp;  
          </div>
        </div>
            </div> 
            </div> 
          </div>     
          <br><br><br><br>
    </div>
    
</ng-container>
<ng-container *ngIf="tipoUsu == 'admin' || tipoUsu == 'responsable'">
<div class="container">
  <br/>
  <form id="buscador" class="form-inline my-2 my-lg-0 ">
      <input class="form-control mr-sm-2" type="search" name="filterLibro" placeholder="DNI" aria-label="Search" [(ngModel)]="filtro.dni">
      <button class="btn btn-info my-2 my-sm-0" type="submit">Buscar</button>
    </form>
  <div>
  <br/><br/>
  <div *ngIf= "numPrestamos == 0">No hay solicitudes pendientes</div>
<div *ngIf= "numPrestamos != 0">
  <h3>Libros pendientes de devolución</h3>
        <table class="table">
          <thead class="bg-primary">
            <tr>
              <th scope="col">DNI</th>
              <th scope="col">Título</th>
              <th scope="col">Código</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let peticion of solicitud  | paginate: {itemsPerPage: 7, currentPage: pageActual} | filterBy: filtro">
              <!-- | solicitud:filterSolicitud -->
              <ng-container *ngIf= "peticion.tipo == 'prestamo'">
              <td>{{peticion.dni}}</td>
              <td>{{peticion.titulo}}</td>
              <td>{{peticion.idL}}</td>
              <td><a class="btn btn-success btn-sm" (click)="devolverPrestamo(peticion.id, peticion.dni, peticion.idL, peticion.idUsu, peticion.titulo, peticion.codigo, peticion.nombreEst)"><i class="material-icons">done_outline</i></a></td>
              <td><a class="btn btn-danger btn-sm" [routerLink]="['/devolucion/'+peticion.id]"><i class="material-icons">warning</i></a></td>
              </ng-container>
            </tr>
          </tbody>
      </table>  
      <ng-container *ngIf="numPrestamos>7">
        <pagination-controls (pageChange)="pageActual = $event"></pagination-controls> 
      </ng-container>
    </div>  
      <br><br>
  </div>
</div>
</ng-container>

